<div class="footer-container">
  <div class="footer-content">
    <div class="contact-container">
      <div class="contact-title"><h3>Entre em contato conosco</h3></div>
      <!--Contact Title-->
      <div class="contact-content">
        <div class="whatsapp-btn">
          <a href="https://wa.me/15551234567" target="_blank">
            <img src="./icons-white/whatsapp-fill.png" alt="Whatsapp" />
            <p>(11) 99123-4567</p>
          </a>
        </div>
        <div class="email-btn">
          <a
            href="mailto:contato@sinergiarh.com.br?subject=Contato via Site&body=Olá,%0A%0AGostaria de mais informações sobre..."
          >
            <img src="./icons-white/email-fill.png" alt="Email" />
            <p>contato&#64;sinergiarh.com.br</p>
          </a>
        </div>
        <div class="phone-btn">
          <a href="tel:+5511991234567">
            <img src="./icons-white/phone-fill2.png" alt="Phone" />
            <p>(11) 99123-4567</p>
          </a>
        </div>
      </div>
      <!--Contact Content-->
      <hr />
    </div>
    <!--Contact Container-->
    <div class="map-container">
      <div class="map-content">
        <p>Escritório Sinergia RH</p>
        <p>Av. Paulista, 1234 - Centro, São Paulo - SP</p>
      </div>
      <!--Map Content-->
      <div class="map-google">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.289272227571!2d-46.701690899999996!3d-23.522095999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef865208c3cfd%3A0x3fa0c2a8ebaf0719!2sSinergia%20Rh!5e0!3m2!1spt-BR!2sbr!4v1739736805853!5m2!1spt-BR!2sbr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <!--Map Google-->
    </div>
    <!--Map Container-->
    <!--Map Container-->
    <div class="copy">
      <hr />
      <p>&copy; 2023 Sinergia RH. Todos os direitos reservados.</p>
    </div>
    <!--Copy-->
  </div>
  <!--Footer Content-->
</div>
<!--Footer Container-->
