.footer-container {
  background-color: var(--color-secondary);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-container hr {
  width: 80%;
  height: 1px;
  border: none;
  color: white;
  background-color: white;
}

.contact-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-title h3 {
  font-weight: 400;
  padding: 3rem 0 2rem 0;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.contact-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.whatsapp-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.whatsapp-btn a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  border: 1px groove;
  background-color: #25d366;
  gap: 1rem;
}

.email-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.email-btn a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  border: 1px groove;
  background-color: var(--color-primary);
  gap: 1rem;
}

.phone-btn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.phone-btn a {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  border: 1px groove;
  background-color: rgb(200, 80, 236);
  gap: 1rem;
}

.map-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
}

.map-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.map-content p {
  font-size: 1.6rem;
  color: white;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.map-google {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.map-google iframe {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: white;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.copy hr {
  width: 80%;
  height: 1px;
  border: none;
  color: white;
  background-color: white;
}

.copy p {
  padding-top: 2rem;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .email-btn a {
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .whatsapp-btn a {
    flex-direction: column;
  }

  .email-btn a {
    flex-direction: column;
  }

  .phone-btn a {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .whatsapp-btn p {
    display: none;
  }

  .email-btn p {
    display: none;
  }

  .phone-btn p {
    display: none;
  }

  .map-container {
    flex-direction: column;
    padding: 2rem 0;
  }

  .map-content {
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
  }

  .map-google {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contact-title h3 {
    text-align: center;
  }
  .whatsapp-btn {
    padding: 0.4rem;
  }

  .email-btn {
    padding: 0.4rem;
  }

  .phone-btn {
    padding: 0.4rem;
  }
}
