<div class="performance-container">
  <div class="performance-content">
    <div class="performance-title">
      <h2>Atuação Estratégica</h2>
    </div>
    <!--Performance Title-->
    <div class="performance-content-container">
      <div class="image-content">
        <img
          src="https://i.postimg.cc/3NLmYLQ9/pexels-pixabay-277124.jpg"
          alt=""
        />
      </div>
      <!--Image Content-->
      <div class="text-content">
        <p>
          Nossos processos seletivos são <span class="strong">híbridos</span>,
          ou seja, combinamos etapas presenciais com etapas online para
          proporcionar uma experiência eficiente e abrangente tanto para
          candidatos quanto para empresas.
        </p>
        <p>
          Utilizamos ferramentas digitais avançadas para conduzir triagens
          iniciais, entrevistas e avaliações online, garantindo agilidade e
          comodidade.
        </p>
        <p>
          Posteriormente, realizamos etapas presenciais focadas em dinâmicas de
          grupo, entrevistas aprofundadas e avaliações práticas, assegurando uma
          análise completa e precisa das habilidades e do perfil dos candidatos.
        </p>
        <p>
          Essa abordagem híbrida permite maior flexibilidade, reduz custos e
          otimiza o tempo, mantendo a qualidade e a profundidade da avaliação em
          todas as fases do processo seletivo. Na SinergiaRH, conectamos
          talentos e oportunidades de forma inovadora e eficaz.
        </p>
      </div>
      <!--Text Content-->
    </div>
    <!--Performance Content Container-->
    <div class="sinergia-container">
      <div class="sinergia-title">
        <h2>Por que nosso nome é Sinergia ?</h2>
      </div>
      <!--Sinergia Title-->
      <div class="sinergia-main">
        <p>
          Na SinergiaRH, acreditamos que "sinergia" é um conceito central e
          vital para a nossa missão e práticas diárias, o que representa a
          combinação harmoniosa de elementos que, ao se unirem, produzem um
          efeito maior do que a soma das suas partes individuais. Aqui está como
          aplicamos esse conceito em nossas atividades:
        </p>
      </div>
      <!--Sinergia main-->
      <div class="sinergia-content">
        <div class="sinergia-text">
          <ul>
            <li>
              <h3>Colaboração Eficiente</h3>
              <p>
                Trabalhamos em estreita colaboração com nossos clientes,
                entendendo suas necessidades e objetivos, para desenvolver
                soluções de RH que realmente façam a diferença. Essa parceria
                resulta em processos mais eficientes e eficazes.
              </p>
            </li>
            <li>
              <h3>Alinhamento Estratégico</h3>
              <p>
                Alinhamos as práticas de recursos humanos com os objetivos
                estratégicos das empresas, garantindo que todos os esforços
                estejam direcionados para o crescimento e sucesso
                organizacional.
              </p>
            </li>
            <li>
              <h3>Engajamento e Motivação</h3>
              <p>
                Criamos estratégias que promovem o engajamento e a motivação dos
                colaboradores, contribuindo para um ambiente de trabalho
                positivo e produtivo.
              </p>
            </li>
            <li>
              <h3>Desenvolvimento Integrado</h3>
              <p>
                Oferecemos programas de desenvolvimento que abrangem desde o
                recrutamento até a gestão de talentos, assegurando que todos os
                níveis da organização estejam alinhados e comprometidos com os
                mesmos objetivos.
              </p>
            </li>
            <li>
              <h3>Resultados Otimizados</h3>
              <p>
                A combinação de nossos serviços - desde a implantação de cultura
                de RH, gestão de cargos e salários, até terceirização de mão de
                obra - resulta em uma abordagem holística que otimiza os
                resultados para nossos clientes.
              </p>
            </li>
          </ul>
        </div>
        <!--Sinergia Text-->
        <div class="sinergia-image">
          <img
            src="https://i.postimg.cc/0yWPRj2p/pexels-fauxels-3184423.jpg"
            alt=""
          />
        </div>
        <!--Sinergia Image-->
      </div>
      <div class="sinergia-main">
        <p>
          Em essência, a sinergia para a SinergiaRH significa criar um impacto
          positivo significativo ao unir forças com nossos clientes e
          candidatos, promovendo o crescimento sustentável e o sucesso mútuo.
        </p>
      </div>
      <!--Sinergia main-->
    </div>
    <!--Sinergia Container-->
  </div>
  <!--Performance Content-->
</div>
<!--Performance Container-->
