<div class="appBody">
  <section class="home homeWpp" id="home" #home>
    <app-header />
  </section>
  <section class="about fade-section" id="about" #about>
    <app-about />
  </section>
  <section class="services homeWpp fade-section" id="services" #services>
    <app-job-service />
  </section>
  <section class="performance fade-section" id="performance" #performance>
    <app-performance />
  </section>
  <section class="contact" id="contact" #contact>
    <app-footer />
  </section>
</div>
